@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

body[data-theme="crm"] {
	--font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
	--font-heading: var(--font-sans);
	--font-controls-family: var(--font-sans);
	--font-controls-size: 1rem;
	--font-controls-line: 1.25;
	--font-controls-weight: 500;

	--page-base: 16;
	--limit-content: 960px;
	--limit-text: 66ch;

	--color-primary: #b2cfc0;
	--color-secondary: #445761;
	--color-neutral: #4f6f84;
	--color-success: #14b8a6;
	--color-warning: #eab308;
	--color-danger: #f97316;
	--color-error: #f97316;
	--color-paper: #ffffff;
	--color-ink: #1c2429;

	--border-color-base: #e0e9ed;

	/* Control token overrides */
	--control-button-bd-radius: 9999px;
	--control-field-bd-radius: 0.5rem;

	line-height: 1.6;
	color: var(--color-ink);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background: #f5f8f8;
	font-family: var(--font-sans);
	font-size: 16px;
	font-weight: 400;

	& h1,
	& h2,
	& h3,
	& h4,
	& h5 {
		color: var(--color-secondary);
		font-weight: 700;
		line-height: 1.2;
	}
}
