body[data-theme="select"] {
	--font-sans:
		system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	--font-controls-family: var(--font-sans);
	--font-controls-size: 1rem;
	--font-controls-line: 1.25;
	--font-controls-weight: 500;

	--page-base: 16;
	--limit-content: 840px;
	--limit-text: 66ch;

	--color-primary: var(--color-sky-500);
	--color-secondary: var(--color-indigo-500);
	--color-tertiary: var(--color-cyan-500);
	--color-neutral: var(--color-slate-400);
	--color-success: var(--color-emerald-500);
	--color-warning: var(--color-amber-400);
	--color-danger: var(--color-rose-500);
	--color-error: var(--color-danger);

	--border-color-base: var(--color-slate-300);

	line-height: 1.6;
	color: var(--color-slate-800);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: var(--font-sans);

	& h1,
	& h2,
	& h3,
	& h4,
	& h5 {
		color: var(--color-slate-900);
		font-weight: 700;
		line-height: 1.2;
	}
}
